@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#div2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2em;
    min-width: 300px;
    border-radius: 5px;

}

#main {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
    padding: 2em 1em;
    border-radius: 5px;
    background-color: #111;
    color: white;
}

#main > h3 {
    font-size: 1.3em;
    margin-bottom: 1.4em;
}


#main p {

    font-family: 'Poppins', sans-serif;

}

/* SKILLS */

#skills {
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 300px;
    padding: 2em 1em;
    margin-bottom: 8em;
    border-radius: 5px;
    background-color: #111;
    color: white;
    height: auto;
}

#skills > h3 {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 1.5em;
}

#tecs-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2em;
}




.tec-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 35%;
    height: 15em;
    border-radius: 5px;
    border: 2px solid rgb(42, 42, 42);
    background-color: #1d1d1d
}

.svg {
    font-size: 4em;
}

#html-logo {
    color: #e34c26;
}

#css-logo {
    color: #2965f1;
}

#sass-logo {
    color: #cc6699;
}

#bootstrap-logo {
    color: #59287a;
}

#js-logo {
    color: #f0db4f;
}

#react-logo {
    color: #61dafb;
}

.svg-text {
    display: flex;
    text-align: left;
    padding: 1em;
    margin: 1em;
    background-color: #1d1d1d;
    border: 2px solid #111;
    width: 70%;
    border-radius: 5px;
}

@media (min-width: 300px) and (max-width: 600px){
    .tec-item {
        width: 100%;
        height: auto;
    }


    .svg-text {
        font-size: 90%;
    }
}

@media (min-width: 601px) and (max-width: 1024px){
    .tec-item {
        width: 80%;
    }


    .svg-text {
        height: auto;
        font-size: 90%;
    }
}